<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Product Information</title>
</head>
<body>

<h3>Product Information</h3>
<table cellpadding="2" cellspacing="2" border="1">
    <tr>
        <td>Id</td>
        <td th:text="${product.id}"></td>
    </tr>
    <tr>
        <td>Name</td>
        <td th:text="${product.name}"></td>
    </tr>
    <tr>
        <td>Price</td>
        <td th:text="${product.price}"></td>
    </tr>
    <tr>
        <td>Photo</td>
        <td>
            <!--<img src="${pageContext.request.contextPath}/resources/http://learningprogramming.net/wp-content/uploads/java/spring_mvc/${product.photo }"/>-->
            <!--<img th:src="@{/resources/images/${product.photo}}"/>-->
            <img th:attr="src=@{/resources/images(name=${product.photo})}, title=${product.photo},alt=${product.photo}"/>
            <!--<img src="../static/images/FBcover1200x628.png" width="1000" th:src="@{images/FBcover1200x628.png}"/>-->
        </td>
    </tr>
    <tr>
        <td>URL</td>
        <td name="ctx" th:content="${#httpServletRequest.getContextPath()}">Tes</td>
    </tr>
</table>

</body>
</html>